
Home Made/30_09_24/Koşullu Yapılar (switch-İf Alıştırma)/Exercise01_Kosullar/obj/Debug/net8.0/ref/Exercise01_Kosullar.dll
*.v2
Home Made/16_10_24/NorthwiwndTest/.vs/NorthwiwndTest/FileContentIndex/00a2c12f-958d-4236-a0a3-23fe6483138a.vsidx
*.v2
*.v2
Home Made/16_10_24/NorthwiwndTest/.vs/NorthwiwndTest/DesignTimeBuild/.dtbcache.v2
Home Made/16_10_24/NorthwiwndTest/.vs/NorthwiwndTest/DesignTimeBuild/.dtbcache.v2
Home Made/16_10_24/NorthwiwndTest/bin/Debug/net8.0-windows/runtimes/win-arm64/native/sni.dll
Home Made/16_10_24/NorthwiwndTest/bin/Debug/net8.0-windows/runtimes/win-x64/native/sni.dll
Home Made/16_10_24/NorthwiwndTest/DataAccessLayer/Database.cs
Home Made/16_10_24/NorthwiwndTest/bin/Debug/net8.0-windows/NorthwiwndTest.runtimeconfig.json
Home Made/16_10_24/NorthwiwndTest/.vs/NorthwiwndTest/FileContentIndex/70a1277c-1c02-4d2b-81f9-b6053193a744.vsidx
Home Made/16_10_24/NorthwiwndTest/obj/Debug/net8.0-windows/Northwiw.84BD185D.Up2Date
.vs/
