
body{
    
    background-color:black;
    background-image:url('/images/1920x1080.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%
}

.main-text { 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    text-align: center; 
    margin-bottom: 100%;
    margin-bottom: 0; 
    padding-bottom: 0;
}


