<!DOCTYPE html>
    <html>
    <head>
        <title>Login</title>
    </head>
    <body style="background-color: red; color:white; font-family: 'Segoe UI';">
        <div style="display:flex; flex-direction:column; height: 100%;align-items:center; justify-content:space-between;"></div>
        <div>Login Menu</div>


        @RenderBody()


        <div>Login Footer</div>
    </body>
    </html>