<!--================ Start Banner Area =================-->
<section class="banner_area section_gap_2">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Hakkımda</h2>
            </div>
        </div>
    </div>
</section>
<!--================ End Banner Area =================-->


<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="~/ui/img/about-us.png" alt="">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <h2>let’s <br>
                        Introduce about <br>
                        myself</h2>
                    <p>
                        Whose given. Were gathered. There first subdue greater. Bearing you Whales heaven
                        midst their. Beast creepeth. Fish days.
                    </p>
                    <p>
                        Is give may shall likeness made yielding spirit a itself together created after sea
                        is in beast beginning signs open god you're gathering whose gathered cattle let.
                        Creature whales fruit unto meat the life beginning all in under give two.
                    </p>
                    <a class="primary_btn" href="#"><span>Download CV</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End About Us Area =================-->

<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="main_title text-left">


					<
                    <div class="progress-table-wrap">
                        <div class="progress-table" style="min-width: 0;">
							<span>HTML</span>
                            <div class="table-row">
                              
                                <div class="percentage" style="width:100%; padding-right:0;">
                                    <div class="progress mb-2">
                                        <div class="progress-bar color-6" role="progressbar" style="width: 70%"
                                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
							<span>CSS</span>
                            <div class="table-row">
                                
                                <div class="percentage">
                                    <div class="progress mb-2">
                                        <div class="progress-bar color-3" role="progressbar" style="width: 90%"
                                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
							<span>MVC</span>
                            <div class="table-row">
                                
                                <div class="percentage">
                                    <div class="progress mb-2">
                                        <div class="progress-bar color-4" role="progressbar" style="width: 80%"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="offset-lg-1 col-lg-5 ">
                <div class="about_img" style="right:0 !important;">
                    <img src="~/ui/img/banner/home-right.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End About Us Area =================-->