<div id="home-container" class="d-flex flex-column align-items-center justify-content-center gap-4">
    <h1 class="display-3 text-info">Hoşgeldiniz!</h1>
    <p class="text-center w-50">Bugün Günlerden Salı. Milli Takımın Kardağ Maçı Var. Bizi İlgilendirmiyor.Biz Ders Çalışacağız.Ama Elbette Gönlümüz,Milli Takımdan Yana!</p>
    <a href="#" class="btn btn-outline-success btn-lg">Bilgi Al</a>
</div>


@section Styles{
    <style>
        #home-container{
            height: 80vh;
        }
    </style>
}