<!DOCTYPE html>
    <html>
    <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Fire-Centure</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <partial name="_FaviconsPartial" />
        <partial name="_FontsPartial" />
        <partial name="_CssPartial" />
        <partial name="_CssPartial" />
    </head>
<body class="index-page">

    <partial name="_HeaderPartial" />

    <main class="main">

        @RenderBody()
       

    </main>

    <partial name="_FooterPartial" />
    



    <partial name="_ScriptsPartial" />
</body>
    </html>